@{
    var isDarkMode = Context.Request.Cookies["darkMode"] == "true";
    ViewData["Title"] = "Category";
}

@await Html.PartialAsync("Sidebar")
@await Html.PartialAsync("ProfileRibbon")


<div class="flex h-screen w-screen flex-row dark:bg-black">
    <div class="h-full w-1/6">
    </div>
    <div class="h-full w-5/6 p-8">
        <div class="h-full w-full rounded-lg bg-gray-100 bg-gray-100 from-violet-950 to-slate-950 p-8 dark:bg-gradient-to-b">
            <label class="text-2xl font-bold text-violet-500 dark:text-white">Category Management</label>
            <div class="mt-5 h-3/6 overflow-x-auto shadow-black drop-shadow-md">
                <table class="min-w-screen w-full table-fixed bg-white dark:bg-transparent">
                    <thead>
                        <tr>
                            <th class="w-1/5 rounded-s-md bg-violet-500 py-2 font-bold text-white">
                                Expense Name
                            </th>
                            <th class="w-1/5 bg-violet-500 py-2 font-bold text-white">
                                Amount
                            </th>
                            <th class="w-1/5 bg-violet-500 py-2 font-bold text-white">
                                Date
                            </th>
                            <th class="w-1/5 bg-violet-500 py-2 font-bold text-white">
                                Category
                            </th>
                            <th class="w-1/5 bg-violet-500 py-2 font-bold text-white">
                                Description
                            </th>
                            <th class="w-1/5 rounded-e-md bg-violet-500 py-2 font-bold text-white">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="py-2 text-center dark:text-white">Sample Expense</td>
                            <td class="py-2 text-center dark:text-white">$100</td>
                            <td class="py-2 text-center dark:text-white">01/09/2024</td>
                            <td class="py-2 text-center dark:text-white">Travel</td>
                            <td class="py-2 text-center dark:text-white">Business Trip</td>
                            <td class="py-2">
                                <div class="flex flex-row items-center justify-center gap-2">
                                    <button type="button">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.204 10.7959L19 8.99994C19.5453 8.45469 19.8179 8.18207 19.9636 7.88797C20.2409 7.32842 20.2409 6.67146 19.9636 6.11191C19.8179 5.81782 19.5453 5.54519 19 4.99994C18.4548 4.45469 18.1821 4.18207 17.888 4.03633C17.3285 3.75905 16.6715 3.75905 16.112 4.03633C15.8179 4.18207 15.5453 4.45469 15 4.99994L13.1814 6.8186C14.1452 8.4692 15.5314 9.84476 17.204 10.7959ZM11.7269 8.27305L4.8564 15.1436C4.43134 15.5686 4.21881 15.7812 4.07907 16.0422C3.93934 16.3033 3.88039 16.5981 3.7625 17.1875L3.1471 20.2645C3.08058 20.5971 3.04732 20.7634 3.14193 20.858C3.23654 20.9526 3.40284 20.9194 3.73545 20.8529L6.81243 20.2375C7.40189 20.1196 7.69661 20.0606 7.95771 19.9209C8.21881 19.7812 8.43134 19.5686 8.8564 19.1436L15.7458 12.2542C14.1241 11.2385 12.7524 9.87622 11.7269 8.27305Z" fill="@(isDarkMode ? "#FFFFFF" : "#222222")" />
                                        </svg>
                                    </button>
                                    <button type="button">
                                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM12 13.4142L8.70711 16.7071L7.29289 15.2929L10.5858 12L7.29289 8.70711L8.70711 7.29289L12 10.5858L15.2929 7.29289L16.7071 8.70711L13.4142 12L16.7071 15.2929L15.2929 16.7071L12 13.4142Z" fill="@(isDarkMode ? "#FFFFFF" : "#222222")" />
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form class="mt-5 flex flex-row gap-3">
                <input type="text" class="rounded-lg border-zinc-600 px-4 py-2 dark:bg-violet-950 dark:border-2 dark:placeholder:text-white" placeholder="Cake" />
                <button type="submit" class="w-36 rounded-full bg-violet-500 py-2 text-sm font-bold text-white drop-shadow-lg">
                    Add Category
                </button>
            </form>
            <div class="mt-3 flex flex-row gap-5">
                <label class="text-xl font-bold text-violet-500 dark:text-white">Your Categories</label>
                <div class="flex flex-row items-center justify-center gap-2">
                    <button type="button">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.204 10.7959L19 8.99994C19.5453 8.45469 19.8179 8.18207 19.9636 7.88797C20.2409 7.32842 20.2409 6.67146 19.9636 6.11191C19.8179 5.81782 19.5453 5.54519 19 4.99994C18.4548 4.45469 18.1821 4.18207 17.888 4.03633C17.3285 3.75905 16.6715 3.75905 16.112 4.03633C15.8179 4.18207 15.5453 4.45469 15 4.99994L13.1814 6.8186C14.1452 8.4692 15.5314 9.84476 17.204 10.7959ZM11.7269 8.27305L4.8564 15.1436C4.43134 15.5686 4.21881 15.7812 4.07907 16.0422C3.93934 16.3033 3.88039 16.5981 3.7625 17.1875L3.1471 20.2645C3.08058 20.5971 3.04732 20.7634 3.14193 20.858C3.23654 20.9526 3.40284 20.9194 3.73545 20.8529L6.81243 20.2375C7.40189 20.1196 7.69661 20.0606 7.95771 19.9209C8.21881 19.7812 8.43134 19.5686 8.8564 19.1436L15.7458 12.2542C14.1241 11.2385 12.7524 9.87622 11.7269 8.27305Z" fill="@(isDarkMode ? "#FFFFFF" : "#222222")" />
                        </svg>
                    </button>
                    <button type="button">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM12 13.4142L8.70711 16.7071L7.29289 15.2929L10.5858 12L7.29289 8.70711L8.70711 7.29289L12 10.5858L15.2929 7.29289L16.7071 8.70711L13.4142 12L16.7071 15.2929L15.2929 16.7071L12 13.4142Z" fill="@(isDarkMode ? "#FFFFFF" : "#222222")" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="mt-1 flex h-2/6 w-full flex-row flex-wrap justify-evenly gap-3">
                <button type="button" class="h-10 w-36 rounded-full bg-green-500 text-sm font-bold text-white drop-shadow-lg">
                    Food Expense
                </button>
                <button type="button" class="h-10 w-36 rounded-full bg-orange-500 text-sm font-bold text-white drop-shadow-lg">
                    Travel Expense
                </button>
            </div>
        </div>
    </div>
</div>
