@{
    ViewData["Title"] = "Category";
}

@await Html.PartialAsync("Sidebar")
@await Html.PartialAsync("ProfileRibbon")


<div class="flex h-screen w-screen flex-row dark:bg-black">
    <div class="h-full w-1/6">
    </div>
    <div class="h-full w-5/6 p-8">
        <div class="h-full w-full rounded-lg bg-gray-100 bg-gray-100 from-violet-950 to-slate-950 dark:bg-gradient-to-b"></div>
    </div>
</div>
