@{
    ViewData["Title"] = "Summary";
    var isDarkMode = Context.Request.Cookies["darkMode"] == "true";

}

@await Html.PartialAsync("Sidebar")
@await Html.PartialAsync("ProfileRibbon")

<div class="flex h-auto w-screen flex-row dark:bg-black">
    <div class="h-full w-1/6">
    </div>
    <div class="h-auto w-5/6">
        <div class="h-screen w-full rounded-lg bg-gray-100 bg-gray-100 from-violet-950 to-slate-950 dark:bg-gradient-to-b">
            <div class="flex flex-col p-8">
                <div class="credential-gradient h-96 w-full rounded-lg shadow-lg shadow-black"></div>
                


            </div>
        </div>
    </div>
</div>
