<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


@model Group1_Expense_Tracker.Models.Credentials

<div class="background flex h-screen w-screen items-center justify-center">
    <div class="credential-gradient h-full w-full drop-shadow-lg sm:w-2/3 sm:rounded-xl md:w-1/3 md:h-5/6 md:rounded-xl">
        <div class="flex h-52 w-full flex-col items-center justify-center gap-5">
            <img src="/img/LogoBg.png" class="mt-5 h-24 w-24 rounded-full">
            <label class="font-sans text-2xl font-bold tracking-wide text-white drop-shadow-lg">REGISTER</label>
        </div>

        <form id="registerForm" asp-action="Register" method="post" class="flex flex-col gap-5 px-12">
            <div class="flex flex-row items-center justify-center border-b border-zinc-400 px-4">
                <img src="/img/EmailIcon.png" class="h-5 w-5" />
                <input type="email" autocomplete="off" id="emailInput" placeholder="Email" asp-for="EmailAdd" class="w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none" />
            </div>
           @*  <span asp-validation-for="EmailAdd" class="text-red-500 text-sm"></span> *@

            <div class="flex flex-row items-center justify-center border-b border-zinc-400 px-4">
                <img src="/img/UserIcon.png" class="h-5 w-5"/>
                <input type="text" autocomplete="off" id="userInput" placeholder="Username" asp-for="Username" class="w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none" />
            </div>
            @* <span asp-validation-for="Username" class="text-red-500 text-sm"></span> *@

            <div class="flex flex-row items-center justify-center border-b border-zinc-400 px-4">
                <img src="/img/LockIcon.png" class="h-5 w-5" />
                <input type="password" id="passwordInput" placeholder="Password" asp-for="Password" class="w-full bg-transparent px-4 py-2 text-white placeholder:text-white focus:outline-none" />
            </div>
          @*   <span asp-validation-for="Password" class="text-red-500 text-sm"></span> *@

            <div class="flex flex-col items-center justify-center gap-0.5 sm:gap-2 md:gap-3">
                <button type="submit" class="w-36 rounded-full bg-white py-2 text-gray-700 drop-shadow-lg">
                    Register
                </button>
                <label class="font bold text-xs text-white">Or</label>
                <button type="submit" id="googleSignInBtn" class="flex w-36 flex-row items-center justify-center gap-2 rounded-full bg-red-600 py-2 text-white drop-shadow-lg">
                    <img src="/img/GoogleIcon.png" class="h-6 w-6" />Register
                </button>
                <label class="text-center text-sm text-white">Already Have an Account? <a asp-area="" asp-controller="Credentials" asp-action="Login" class="underline">Login Here!</a></label>
            </div>
        </form>
    </div>
</div>

@if (TempData.ContainsKey("UserExist"))
{
    <script>
        var userExist = '@TempData["UserExist"]';
        Swal.fire({
            icon: 'error',
            title: 'Ooops....Registration Error!',
            text: userExist,
        });
    </script>
}

@if (TempData.ContainsKey("EmailExist"))
{
    <script>
        var emailExist = '@TempData["EmailExist"]';
        Swal.fire({
            icon: 'error',
            title: 'Ooops....Registration Error!',
            text: emailExist,
        });
    </script>
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <script>
        var genericExcepMsg = '@TempData["ErrorMessage"]';
        Swal.fire({
            icon: 'error',
            title: 'Ooops....Registration Error!',
            text: genericExcepMsg,
        });
    </script>
}

@if (TempData.ContainsKey("BothExist"))
{
    <script>
        var bothExists = '@TempData["BothExist"]';
        Swal.fire({
            icon: 'error',
            title: 'Ooops....Registration Error!',
            text: bothExists,
        });
    </script>
}