@{
    ViewData["Title"] = "Expense";
}

@await Html.PartialAsync("Sidebar")
@await Html.PartialAsync("ProfileRibbon")


<div class="flex h-screen w-screen flex-row dark:bg-black">
    <div class="hidden h-full w-1/6 md:flex">
    </div>
    <div class="h-full w-full md:w-5/6">
        <div class="flex h-full w-full flex-row rounded-lg bg-gray-100 bg-gray-100 from-violet-950 to-slate-950 p-8 dark:bg-gradient-to-b">
            <div class="w-full md:w-1/2">
                <label class="text-2xl font-bold text-violet-500 dark:text-white">Expense Management</label>
                <form class="mt-5 flex flex-col gap-3">
                    <div class="flex flex-col gap-2">
                        <label class="text-lg font-bold text-black dark:text-white">Title/Name of Expense</label>
                        <input type="text" class="rounded-lg border-zinc-600 px-4 py-2 dark:bg-violet-950 dark:border-2 dark:placeholder:text-white" placeholder="Cake" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="text-lg font-bold text-black dark:text-white">Amount</label>
                        <input type="number" class="rounded-lg border-zinc-600 px-4 py-2 dark:text-white dark:bg-violet-950 dark:border-2 dark:placeholder:text-white" min="0" placeholder="10000" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="text-lg font-bold text-black dark:text-white">Date</label>
                        <input type="date" class="rounded-lg border-zinc-600 px-4 py-2 dark:text-white dark:bg-violet-950 dark:border-2 dark:placeholder:text-white" placeholder="10000" />
                    </div>
                    <div class="flex flex-col gap-2">
                        <label class="text-lg font-bold text-black dark:text-white">Description</label>
                        <textarea class="min-h-32 resize-none rounded-lg border-zinc-600 px-4 py-2 dark:text-white dark:bg-violet-950 dark:border-2 dark:placeholder:text-white" placeholder="Birthday Cake"></textarea>
                    </div>
                    <div class="mt-2 flex w-full items-center justify-center">
                        <button type="submit" class="w-32 rounded-full bg-violet-500 py-2 font-bold text-white drop-shadow-lg">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
            <div class="opacity-10 absolute right-0 w-1/2 md:relative md:z-0 md:opacity-100">
                <div class="opacity-80 relative top-40 h-64 w-64 rounded-full bg-violet-300 dark:bg-violet-800 md:right-0.5 md:absolute"></div>
                <div class="opacity-80 relative right-32 h-64 w-64 rounded-full bg-violet-300 dark:bg-violet-800 md:bottom-28 md:absolute"></div>
            </div>
        </div>
    </div>
</div>
