@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.background {
    background: url('/img/Background.png') no-repeat center center fixed;
    background-size: cover;
}

.credential-gradient {
    background: rgb(110,132,251);
    background: linear-gradient(180deg, rgba(110,132,251,1) 0%, rgba(141,87,194,1) 100%, rgba(7,56,152,1) 100%, rgba(0,212,255,1) 100%);
}

.darkmode-gradient {
    background: rgb(27,2,52);
    background: linear-gradient(180deg, rgba(27,2,52,1) 0%, rgba(14,2,26,1) 100%);
}

:root {
    --primary: #ffffff;
    --secondary: rgba(141,87,194,1);
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: var(--primary);
}

*::-webkit-scrollbar-track {
    background-color: var(--primary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
}
